// SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
//
// SPDX-License-Identifier: AGPL-3.0-or-later

/*
 * You can override the configurable values from this file.
 * The recommended method is to make a copy of this file (/customize.dist/application_config.js)
   in a 'customize' directory (/customize/application_config.js).
 * If you want to check all the configurable values, you can open the internal configuration file
   but you should not change it directly (/common/application_config_internal.js)
*/

define(['/common/application_config_internal.js'], function (AppConfig) {

    // Example: If you want to remove the survey link in the menu:
    // AppConfig.surveyURL = "";

    // To inform users of the support ticket panel which languages your admins speak:
    //AppConfig.supportLanguages = [ 'en', 'fr' ];

    /* You can display a link to the imprint (legal notice) of your website in the static pages
    * footer. Since this is different for each individual or organization there is
    * no default value.
    */
    AppConfig.imprint = '{{ cryptpad_app_config_imprint }}';

    /* You can display a link to your own privacy policy in the static pages footer.
    * Since this is different for each individual or organization there is no default value.
    */
    AppConfig.privacy = '{{ cryptpad_app_config_privacy }}';
    
    /* You can display a link to your instances's terms of service in the static pages footer.
    * A default is included for backwards compatibility, but we recommend replacing this
    * with your own terms.
    */
    AppConfig.terms = '{{ cryptpad_app_config_terms }}';

    /* If you have a status page for your instance, you may use the setting belox
     *
     * See the comments above for a description of possible configurations.
     */
    AppConfig.status = '{{ cryptpad_app_config_status }}';

    return AppConfig;
});
